form{
    border: 5px solid rgb(17, 1, 1);
    border-radius: 5px;
    padding: 20px;
    width: max-content;
    margin: auto;
    text-align: center;
    background-color: rgb(0, 174, 255, 0.3);
    font: bold 20px Arial;
}

input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
}

.button{
    display: block;
    background-color: rgb(111, 0, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    font-size: 18px;
    text-transform: uppercase;
    margin: 30px auto 10px auto;
}

h3{
    text-align: center;
    text-shadow: rgb(111, 0, 255);
    font-weight: bold;
    font: bold 75px Arial;
    margin: auto;
    border: 5px solid rgb(17, 1, 1);
    background-color: aqua;
}

body{
    background: url(../images/cnc_background2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
a{
    background-color: #0abce9;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

nav{
    text-align: center;
}

h4{
    text-align: center;
    text-shadow: white;
    font-weight: bold;
    font: bold 45px Arial;
    margin: 1%;
}

p{
    font-weight: bold;
    font: bold 25px Arial;
}

.PARTS_list , .ORDERS_list{
    margin: 1%;
    text-align: center;
    
    border: 5px solid rgb(0, 0, 0);
    float: left;
    width: 40%; /* three boxes (use 25% for four, and 50% for two, etc) */
    padding: 15px;
}

.home_list {
    margin-left: 5%;
}

.account_info {
    background-color: #ffffff;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    margin-top: 10%;
    font: bold 20px Arial;
}

.delete, .edit{
    display: inline-block;
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
}

.delete{
    background-color: #fc0000;
}

.edit{
    background-color: #00fc2a;
}